@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #12171a;
	color: wheat;
	display: flex;
}

.regular-container {
	background-color: #272e2b;
	color: #8fb7a6;
	padding: 9px;
}

.dashboard {
	border: 1px solid whitesmoke;
	padding: 9px;
}

a.dashboard__sidebar__controls__item {
	background-color: rgb(106, 71, 26);
}

button {
	/* background-color: beige; */
	padding: 6px;
	color: beige;
	border: 2px solid beige;
}

.filter {
	/* width: 500px; */
	height: auto;
	border: 1px solid #3b5047;
	padding: 9px;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 9px;
}

.filter__item {
	/* border: 1px solid red; */
	display: flex;
	flex-direction: column;
}

.filter__item__brand {
	cursor: pointer;
	color: black;
	background-color: ghostwhite;
	display: flex;
	gap: 9px;
	padding: 3px 9px;
}

.filter__item__brand.--disabled {
	color: gray;
	background-color: #3b5047;
}

.filter__item__models__model {
	display: flex;
}

.filter__item__subitem {
}

.preloader--basic {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #12171a;
	width: 100%;
	height: 100%;
	color: wheat;
	display: flex;
	justify-content: center;
	align-items: center;
}

.filter__item__models {
	height: 0px;
}

.filter__item__models.--rolldown {
	/* background-color: red; */
	animation-name: rolldown;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

.filter__item__models__item {
	color: ghostwhite;
	cursor: pointer;
	transition: all 0.2s ease-out;
}

.filter__item__models__item:hover {
	background-color: #8fb7a6;
}

.filter__item__models__item.--disabled {
	color: #3b5047;
	cursor: auto;
	background-color: inherit;
}

.filter__item__models__item.--disabled:hover {
	background-color: inherit;
}

.catalogue {
	display: flex;
	width: 100%;
	/* justify-content: ; */
}

.catalogue__sidebar--left {
	width: 333px;
	flex-basis: 333px;
	flex-grow: 0;
}

.catalogue__content {
	padding: 9px;
	border: 2px solid salmon;
	flex-basis: 200px;
	flex-grow: 1;
}

.catalogue__preloader {
	padding: 9px;
	border: 2px solid salmon;
}

.catalogue__content__items {
	display: flex;
	flex-wrap: wrap;
}

.catalogue-card {
	flex-basis: 300px;
	flex-shrink: 0;
	flex-grow: 1;
}

/* ---------------------------- */

.filter__block-title {
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* ------------------------ */

.filter__tariff-options_item-container {
	display: flex;
}

.filter__tariff-options_item-container.--choisen {
	background-color: beige;
}

.filter-tariff-item {
	cursor: pointer;
	padding-left: 9px;
	padding-right: 9px;
	transition: all 0.2s ease-out;
}

.filter-tariff-item:hover {
	cursor: pointer;
	padding-left: 16px;
}

.filter-tariff-item.--choisen {
	color: #12171a;
}

.filter__block-title__btn-clear {
	border-radius: 6px;
	animation-name: button_anim;
	animation-duration: 0.6s;
	animation-iteration-count: 1;
	animation-delay: 0;
	animation-fill-mode: forwards;
	animation-direction: normal;
}

@keyframes button_anim {
	from {
		transform: rotate(50deg);
		opacity: 0;
	}

	33% {
		transform: rotate(0deg);
		opacity: 1;
	}

	66% {
		transform: scale(1.1);
		/* transform: rotate(-50deg); */
		/* opacity: .3; */
	}

	to {
		/* transform: rotate(0deg); */
		/* opacity: 1; */
	}
}

@keyframes rolldown {
	form {
		height: 0px;
	}

	to {
		height: 200px;
	}
}

.messenger-root {
	display: flex;
	border: 1px solid wheat;
	gap: 19px;
	padding: 9px;
}

.messenger-root__controller {
	border: 1px solid #8fb7a6;
}

.messenger-root__chat {
	display: flex;
	flex-direction: column;
	gap: 9px;
}

.message {
	border: 1px solid gold;
	padding: 9px;
}
