@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #12171a;
  color: wheat;
  display: flex;
}

.regular-container {

  background-color: aquamarine;
  color: black;
  padding: 9px;
}

.dashboard {

  border: 1px solid whitesmoke;
  padding: 9px;
}

a.dashboard__sidebar__controls__item {
  background-color: rgb(106, 71, 26);
}